.main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 7% 14% auto 8%;
    grid-auto-flow: row;
    padding-left: 5%;
    padding-right: 5%;
}

.add-client-content-box{
    border-bottom: solid thin rgb(221, 220, 220);
    padding-top: 1.5%;
    display: grid;
    grid-template-columns: 15% auto;
    grid-auto-flow: column;
}

.content-heading-box{
    padding-top: 2%;
    border-bottom: solid thin rgb(221, 220, 220)
}

.p1{
    font-size: 24px;
    font-weight: bold;
    margin: 1% 0 0 0;
}

p{
    margin-top: 10px;
}

input{
    height: 20%;
    width: 70%;
}

.input-container-grid{
    height: 80%;
    width: 100%;
    /* border: solid coral; */
    display: grid;
    grid-auto-flow: column;
}

.input-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.input-grid p{
    margin-bottom: 1.5%;
}

.comany-details{
      text-align: center;
}

.btn-box,.empty-spacing-box{
    margin-top: 4%;
    border-top: solid thin rgb(221, 220, 220);
    display: flex;
    flex-direction: row;
}

.btn-box Button{
    margin-top: 9%;
    margin-right: 14%;
    padding: 0;
    /* height: 70%;
    width: 100px; */
}

.input-grid .p-inputgroup{
    /* height: 20%; */
    width: 85%;
}

.mandatory{
    color: red;
    font-weight: bold;
}