.main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 7% 14% auto 8% 8%;
    padding-left: 5%;
    padding-right: 5%;
}

.header-box{
    border-bottom: solid thin rgb(221, 220, 220);
}

.main .content-box{
    display: grid;
    row-gap: 4%;
    column-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 2%;
}

.footer-box{
    padding-top: 0.75%;
    border-top: solid thin rgb(221, 220, 220);
}

.p1{
    font-size: 24px;
    font-weight: bold;
    margin: 1% 0 0 0;
}

.add-client-box{
    padding-top: 1.5%;
    display: flex;
    flex-direction: row;
}

.btn-container{
    width: 100%;
}

.welcome-heading{
    width:500px;
}

#add-client-btn{
    margin-top: 1%;
    width: auto;
    height: auto;
    float: right;
}

@media (max-width: 1000px) {

    .main .content-box{
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: repeat(3, 1fr) ;    
    }
}
  
@media (max-width: 660px) {

    .main .content-box{
        grid-template-columns: repeat(1, 1fr) ;
        grid-template-rows: repeat(6, 1fr) ; 
    }
}