.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;

  grid-auto-flow: column;
}

.emtptyBox {
  background-color: rgb(0, 0, 26);
}

.logInContainer {
  height: 65%;
  width: 45%;
  display: grid;
  grid-template-rows: 20% 25% 28% auto;
  grid-auto-flow: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.logInBox1 {
  text-align: center;
}

.firstHeading{
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

label{
  margin-bottom: 2%;
}

Button{
  width: 100%;
}