.header-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
}

.left-content-container ,.right-content-container{
  display: flex;
  flex-direction: row;
}

.left-content-container {
  justify-content: flex-start;

}

.right-content-container {
  justify-content: flex-end;

}


.beminus {
  font-weight: 700;
  font-size: large;
  display: inline-block;
  margin: auto 7% auto 1%
}

.left-content-container img{
  max-height: 100%;  
}


#btn {
  width: fit-content;
  height: 100%;
  margin: auto 0 auto 0
}

#btn .p-button-label{
  flex: 0;
}

.user-name{
  font-weight: 625;
  margin: auto 7% auto 1% 
}

img{
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}